:root{--logo: #3DBB3D;
--gray: #777777;
--black: #070707;
--green: #7ED386;
--aqua: #3FB6A8;
--white: #FFFFFF;
--hulu: 'Nunito Sans', sans-serif;
--heading: 'Montserrat', sans-serif;
--body: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto');

.container {
  background: var(--white);
  width: 500px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  box-shadow: 2px 5px 20px rgba(var(--gray), .5);
  text-align: left;
}

.rightbox {
  width: 100%;
  height: 100%;
}


.profile {
  transition: opacity .5s ease-in;
  width: 100%;
}

h1 {
  font-family: var(--heading);
  color: var(--green);
  font-size: 1.5em;
 
  margin-bottom: 25px;
  text-align: center;
}

h2 {
  color: var(--gray);
  
  width: 100%;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  margin-left: 2px;
}

p {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #3FB6A8, rgba(126, 211, 134, 0.5)) 1 0%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 100%;
  font-family: var(--heading);
  font-size: 0.8em;
  padding: 7px 0;
  color: var(--black);

}
span {
  font-size: .5em;
  color: var(--gray);
}

.btn {
  float: right;
  font-family: var(--body);
  text-transform: uppercase;
  font-size: 10px;
  border: none;
  color: var(--aqua);
}

.btn:hover {
  text-decoration: underline;
  font-weight: 900;
}

input {
  border: 1px solid lighten(var(--gray),40%); 
  font-family: var(--body);
  padding: 2px;
  margin: 0;
}

.privacy h2{
  margin-top: 25px;
}

.settings h2{
  margin-top: 25px;
}

.noshow {
  opacity: 0;
}

